/* Main Visual css*/

.main_visual_wrap {
  width: 100%;
  padding: 0 48px;
}

.main_visual {
  width: 100%;
  padding: 0 8px;
  display: flex;
}

.main_visual_1 {
  width: 50%;
  height: 900px;
  background-image: url(../img/nike-just-do-it.png);
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main_visual_1:hover {
  cursor: pointer;
}

.main_visual_2 {
  width: 50%;
  height: 900px;
  background-image: url(../img/nike-just-do-it_2.png);
  padding: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.button_shop_white {
  width: 100px;
  height: 40px;
  background-color: white;
  color: rgb(17, 17, 17);
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  border: none;
}

.button_shop_white:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Main Just In */
.just_in_wrap {
  width: 100%;
  padding: 84px 48px 0;
}

.just_in {
  width: 100%;
  padding: 0;
  display: flex;
}

.just_in_1 {
  width: calc(50% - 16px);
  height: 700px;
  background-image: url(../img/just-in.jpg);
  margin: 0 8px;
}

.just_in_1_a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 36px;
}

.just_in_2 {
  width: calc(50% - 16px);
  height: 700px;
  background-image: url(../img/just-in-2.jpg);
  margin: 0 8px;
}

.just_in_2_a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 36px;
}

.button_shop_black {
  width: 100px;
  height: 40px;
  background-color: rgb(17, 17, 17);
  color: white;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  border: none;
}

.button_shop_black:hover {
  background-color: rgba(17, 17, 17, 0.6);
}

/* Main Footwear */
.footwear_wrap {
  width: 100%;
  padding: 84px 48px 0;
}

.footwear {
  width: 100%;
  padding: 0 8px;
  display: flex;
}

.footwear_1 {
  width: 100%;
  height: 700px;
  background-image: url(../img/footwear.jpg);
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footwear_1:hover {
  cursor: pointer;
}

.button_shop_white {
  width: 100px;
  height: 40px;
  background-color: white;
  color: rgb(17, 17, 17);
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  border: none;
}

.button_shop_white:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Main Trending Now */

.trending_now_wrap {
  width: 100%;
  height: auto;
  padding: 84px 48px 0;
}

.trending_now {
  width: 100;
  display: flex;
}

.trending_now_1 {
  width: calc(50% - 16px);
  margin: 0 8px;
  background-image: url(../img/trending_now.jpg);
}

.trending_now_1_a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 36px;
}
.trending_now_1_a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.trending_now_2 {
  width: calc(50% - 16px);
  margin: 0 8px;
  height: 700px;
  background-image: url(../img/trending_now_2.jpg);
}

.trending_now_2_a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 36px;
}

.trending_now_2_a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Main Gear fot Your Goals */
.gear_wrap {
  width: 100%;
  padding: 84px 48px;
}

.gear {
  width: 100%;
  display: flex;
}

.gear li {
  width: calc(33.3333% - 16px);
  margin: 0 8px;
}

.gear li img {
  width: 100%;
  margin: 0 0 16px;
}
